form {
  width: 500px;

  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}

input {
  width: 100%;
  padding: 0 10px;
  height: 120px;
  border-radius: 19px 19px 0px 18px;
  margin: 3px 0;
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

button {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  width: 25%;
  height: 80px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: rgb(231, 228, 228);
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
  }
}


button:hover {
  background-color: rgb(170, 170, 170);
}

.btn-equal {
  width: 75%;
}

button:disabled {
  background-color: rgb(231, 228, 228);
}
